<div ng-show="showCards" class = "row cardContainer">
	<h4>Computer</h4>
	<span ng-repeat = "card in ctrl.hand1.cards">
		<img ng-src = "images/cards/{{card.image}}" class="cardImage">
	</span>
</div>