<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <button type="button">Deal</button>
        <div>
            <%=card.number%> of <%=card.suit%>        
        </div>

    </body>
</html>