<!DOCTYPE html>
<html ng-app = "dealApp">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <main ng-controller = "MainCtrl as ctrl" class="container">
            <% include ../partials/header %>
            <% include ../partials/playersCards %>
            <% include ../partials/opponentCards%>
            <% include ../partials/game %>
            <% include ../partials/footer %>
        </main>
    </body>
</html>